* {
	font-family: "Concert One";
	font-size: 25px;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

#knuckles {
	width: 300px;
	border-radius: 150px;
	display: relative;
	margin-top: 2rem;
	height: 300px;
}

#bg-image {
	background-image: url(https://images4.alphacoders.com/992/992073.jpg);
	background-repeat: repeat;
	background-position: center top;
	background-attachment: scroll;
}

#name {
	color: white;
}

.card-body {
	color: white;
}

.card-title{
	color: #E5EB17;
}

#pets {
	margin-top: 5rem;
}

#tools {
	margin-top: 5rem;
}

#tools-img {
	margin-bottom: 5rem;
}

#forms {
	min-height: 100vh;
	background-image: url(https://images4.alphacoders.com/822/822481.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: scroll;
}

#footer	{
	font-size: 20px!important;
	display: inline-block;
	position: relative;
	margin-left: 1rem;
	margin-right: 1rem;
}

#footer2 {
	margin-top: 3rem;
}

#image-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 30px 10px;
}

#image-container #picture-heading {
	padding-bottom: 1rem;
}

#image-container #picture-heading h3{
	font-size: 2em;
	font-weight: bold;
}

#image-container #pictures {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#image-container #pictures #gallery-images {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.gallery2 {
	border-radius: 5px;
	float: center;
  	width: 100%;
  	padding: 10px;
  	margin-bottom: 1rem;
  	height: auto;
  	max-width: 100%;
  	background-repeat: no-repeat;
  	background-size: contain;
}